body{
    background-image: url(../images/mainfood.jpg);
    background-color: teal;
    max-width: 75ch;
    margin: 0 auto; 
    margin-top: 10px;
}

.container{
    display: flex;
    gap: 2rem;
    flex-direction: column;
  /*border: solid teal 5px;*/
    justify-content: space-between;
    align-items: center;
    min-height: 65ch; 
}

.container > *{
    /* flex-shrink: 1; /*elements get to be the same size*/
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 1;
    /* flex: 1; */

}

@media (min-width: 1000px){
    .container{
        flex-direction: row;
        align-items: flex-start;
    }
}

.content:nth-child(1){
    background: rgba(213, 219, 219, 0.75);
    padding: 10px;
}

.content:nth-child(3){
    background: rgba(213, 219, 219, 0.75);
    padding: 5px 30px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/*
h1, img, ul{
    border: solid yellow 5px; 
}
*/